.navItemModificado{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.containerIndex-primero{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.containerIndex-segundo .imagen01{
  padding: 5rem 0 0 2rem;
}
.containerIndex-segundo .imagen02{
  padding: 20rem 0 0 2rem;
}
.containerIndex-segundo .imagen03{
  padding: 14rem 0 0 2rem;
}
.marqueeIndex{
  padding: 5rem 0;
}
.containerIndex-tercero{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerIndex-cuarto{
  padding-top: 13rem;
}
.containerIndex-cuarto--primero{
  display: flex;
  flex-direction: row;
}
.cuarto-primero--izquierda{
    display: flex;
    flex-direction: column;
}
.cuarto-primero--izquierda{
  img{
    padding: 0 0 4rem 2rem;
  }
}
.cuarto-primero--abajo{
  img{
    padding: 2rem 0 0 12rem;
  }
}
.cuarto-primero--derecha{
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 36rem auto;
  grid-template-rows: 200px auto;
  grid-template-areas:
  "texto texto"
  "imgIndex01 imgIndex02"
  "imgIndex01 imgIndex03"
}
.cuarto-primero--derecha p{
  grid-area: texto;
}
.cuarto-primero--derecha .img01{
  grid-area: imgIndex01;
}
.cuarto-primero--derecha .img02{
  grid-area: imgIndex02;
}
.cuarto-primero--derecha .img03{
  grid-area: imgIndex03;
}
#about{
  margin-top: 10rem;
}
.contactoFooter{
  display: flex;
  justify-content: space-between;
  margin: 10rem 3rem;
}
#contacto{
  width: 50%;
  padding: 2rem;
}
.ubicacion{
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ubicacion{
  img{
    width: 70%;
  }
}
.derechos{
  font-size: 0.7rem;
  margin: 0;
  padding: 1rem;
}
footer{
  div{
    div{
      ul{
        padding-top: 1rem;
      }
    }
  }
}
