@import "index";
@import "portfolio";
@import "videos";
@import "mobile";

.blueRYB{
  color: #004EF5;
}
.bitterLime{
  color: #C0F500;
}
.redOrangeColorWheel{
  color: #F05219;
}
.kaiseiTokumin{
  font-family: 'Kaisei Tokumin', serif;
}
.spaceMono{
  font-family: 'Space Mono', monospace;
}
.openSans{
  font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  font-size: 12px;
  padding: 0;
  margin: 0;
}
p{
  font-size: 1.1rem;
  font-weight: 300;
}
ul{
  padding: 0;
}
.marqueeIndex{
  font-size: 8rem;
}
label{
  font-size: 0.9rem;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #F05219;
}
i{
  color: #F05219;
  font-size: 1.5rem;
}
i:hover{
  color: #C0F500;
}
.carousel-control-next, .carousel-control-prev{
  opacity: 1;
}
.bordesForm{
  border-color: #F05219;
  background-color: #C0F500;
  transition: none;
  font-family: 'Open Sans', sans-serif;
  color: #F05219;
}
#botonModificadoEnviar, #botonModificadoBorrar{
  color: #F05219;
  background-color: #FFFFFF;
  border-color: #F05219;
  font-family: 'Open Sans', sans-serif;
}
#botonModificadoEnviar:hover, #botonModificadoBorrar:hover{
  background-color: #C0F500;
}
.botonModificadoMobile{
  border-color: transparent;
}
.seleccionado{
  text-decoration: line-through;
}
nav{
  div{
    a{
      font-size: 1rem;
    }
  }
}
a:hover{
  color: #F05219;
  text-decoration: none;
}
.iconoNavbar{
  color: #F05219;
}
.navItemModificado{
  justify-content: space-between;
}
.portfolioListaDeVideos{
  font-size: 1.7rem;
  list-style: none;
}
footer{
  ul{
    li{
      font-size: 0.8rem;
      list-style: none;
    }
  }
}
.derechos{
  font-size: 0.6rem;
  opacity: 0.6;
  margin: 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}



/*Ajustes generales en desktop*/
@media (min-width: 767.98px) {
  .ocultarDesktop{
    display: none;
  }
  .containerVideos-links{
    position: fixed;
    top: 12rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
}
