.navItemModificado {
  justify-content: space-between;
  width: 100%; }

.containerIndex-primero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  z-index: 2; }

.indexSegundoImagenesLG {
  display: flex;
  justify-content: space-around; }

.containerIndex-segundo {
  margin-top: 7rem; }

.indexSegundoImagen03 {
  margin-left: 5rem; }

.marqueeIndex {
  padding: 5rem 0; }

.containerIndex-tercero {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.containerIndex-cuarto {
  padding-top: 13rem; }

.containerIndex-cuarto--primero {
  display: flex;
  flex-direction: row; }

.cuarto-primero--izquierda {
  display: flex;
  flex-direction: column; }

.cuarto-primero--izquierda img {
  padding: 0 0 4rem 2rem; }

.cuarto-primero--abajo img {
  padding: 2rem 0 0 12rem; }

.cuarto-primero--derecha {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 36rem auto;
  grid-template-rows: 200px auto;
  grid-template-areas: "texto texto" "imgIndex01 imgIndex02" "imgIndex01 imgIndex03"; }

.cuarto-primero--derecha p {
  grid-area: texto; }

.cuarto-primero--derecha .imgIndexLG01 {
  grid-area: imgIndex01; }

.cuarto-primero--derecha .imgIndexLG02 {
  grid-area: imgIndex02; }

.cuarto-primero--derecha .imgIndexLG03 {
  grid-area: imgIndex03; }

.aboutTexto {
  padding: 10rem 2rem 3rem 2rem; }

.aboutImagen {
  padding: 0 0 0 12rem; }

.contactoFooter {
  display: flex;
  justify-content: space-between;
  margin: 15rem 3rem 7rem 3rem; }

#contacto {
  width: 50%;
  padding: 2rem; }

.bordesForm:focus {
  border-color: #F05219;
  box-shadow: none;
  -webkit-box-shadow: none; }

.has-error .bordesForm:focus {
  box-shadow: none;
  -webkit-box-shadow: none; }

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F05219;
  opacity: 1;
  /* Firefox */
  font-family: 'Open Sans', sans-serif; }

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F05219;
  font-family: 'Open Sans', sans-serif; }

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #F05219;
  font-family: 'Open Sans', sans-serif; }

.ubicacion {
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.ubicacion img {
  width: 70%; }

footer div div ul {
  padding-top: 1rem; }

.titulosPortfolioLG {
  font-size: 6rem;
  padding-left: 2rem; }

.containerPortfolio-primero {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: 20rem auto;
  grid-template-areas: "imgPortfolio01 imgPortfolio02" "imgPortfolio03 imgPortfolio04"; }

.imgPortfolio01 {
  grid-area: imgPortfolio01;
  padding-left: 2rem; }

.imgPortfolio02 {
  grid-area: imgPortfolio02;
  padding: 5rem 0 0 20rem; }

.imgPortfolio03 {
  grid-area: imgPortfolio03;
  padding: 0 0 0 10rem; }

.imgPortfolio04 {
  grid-area: imgPortfolio04;
  padding: 3rem 0 0 26rem; }

.containerPortfolio-video--primero {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem; }

.videoCuadricula-uno {
  padding: 2rem 8rem 0 0; }

.containerPortfolio-video--segundo {
  display: flex;
  justify-content: space-around;
  padding-top: 7rem; }

.containerPortfolio-video--tercero {
  display: flex;
  margin-top: 5rem; }

.containerPortfolio-video--tercero ul {
  padding: 5rem 0 0 20rem; }

.containerPortfolio-video--tercero ul li a:hover {
  text-decoration: line-through; }

.videoCuadricula-dos {
  padding: 5rem 0 0 2rem; }

.containerCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem; }

.carouselEditadoLG {
  height: 400px;
  width: 500px; }

.containerCeramicas {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between; }

.gitHub {
  color: #F05219;
  font-size: 2rem;
  padding-left: 2rem; }

.ubicacionImgPortfolio {
  max-width: 3rem;
  margin-bottom: 1rem; }

.ubicacion div p {
  padding: 0; }

#videos {
  padding-top: 2rem; }

.containerVideos {
  display: flex;
  flex-direction: row; }

.containerVideos-videosLG {
  margin: 7rem 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.marqueeLinks {
  font-size: 6rem;
  padding: none;
  max-height: 5rem;
  padding-top: 2rem; }

.containerVideos-links a:hover {
  text-decoration: line-through; }

@media (max-width: 575.98px) {
  /*GENERALES*/
  .ocultarMobile {
    display: none; }
  /*INDEX*/
  .containerIndex-primero {
    margin-top: 4rem; }
    .containerIndex-primero video {
      max-width: 90%; }
  .indexSegundoImagenesMobile {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .containerIndex-tercero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .containerIndex-tercero img {
      padding-bottom: 1rem; }
  .containerIndex-cuarto {
    display: block;
    padding-top: 7rem; }
  .cuarto-primero--derecha {
    display: block;
    padding: 0 1rem; }
  .aboutTexto {
    padding: 6rem 1rem 3rem 2rem; }
  .contactoFooter {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  #contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
  .ubicacion {
    padding: 1rem 0 0 0; }
    .ubicacion ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .ubicacion p {
      padding: 0; }
  /*PORTFOLIO*/
  .containerPortfolio-primero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .containerPortfolio-primero .imgPortfolio01, .containerPortfolio-primero .imgPortfolio03 {
    padding: 0; }
  .containerPortfolio-primero .imgPortfolio03 {
    padding-top: 2rem; }
  .titulosPortfolioMobile {
    font-size: 3.6rem;
    padding-left: 1rem; }
  .containerPortfolio-video--primero {
    display: block;
    margin-top: 4rem; }
  .videoCuadricula-uno {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
    .videoCuadricula-uno div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end; }
      .videoCuadricula-uno div img {
        padding-bottom: 1rem; }
  .containerPortfolio-video--tercero {
    display: flex;
    flex-direction: column-reverse; }
    .containerPortfolio-video--tercero .portfolioListaDeVideos {
      padding: 0 0 0 2rem; }
      .containerPortfolio-video--tercero .portfolioListaDeVideos a {
        font-size: 1.2rem; }
    .containerPortfolio-video--tercero .videoCuadricula-dos {
      padding: 5rem 0 0 0; }
      .containerPortfolio-video--tercero .videoCuadricula-dos div {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .containerPortfolio-video--tercero .videoCuadricula-dos div img {
          padding-bottom: 1rem; }
  .containerCeramicas {
    margin-top: 5rem;
    display: flex;
    flex-direction: column; }
    .containerCeramicas .containerCeramicas-cuadricula {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .containerCeramicas .containerCeramicas-cuadricula img {
        padding: 2rem 0; }
  .carouselEditadoMobile {
    height: 400px;
    width: 300px; }
  .containerWeb {
    margin-top: 4rem; }
  .gitHub {
    margin-left: 2rem; }
  .ubicacion img {
    max-width: 20%;
    margin-bottom: 1rem; }
  /*VIDEOS*/
  .containerVideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    padding-left: 0; }
    .containerVideos .containerVideos-links {
      display: flex;
      flex-direction: column;
      padding: 2rem 0 0 1rem; }
    .containerVideos .containerVideos-videosMobile {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .containerVideos .containerVideos-videosMobile iframe {
        margin-bottom: 1rem; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .ocultarTablet {
    display: none; }
  /*INDEX*/
  .cuarto-primero--derecha {
    padding-left: 1rem;
    grid-template-columns: 32rem auto; }
  .containerIndex-tercero {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
    align-items: center; }
  /*PORTFOLIO*/
  .containerPortfolio-primero {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 2rem;
    align-items: center;
    justify-content: center; }
    .containerPortfolio-primero img {
      padding: 0; }
  .containerPortfolio-video--primero {
    margin-top: 3rem;
    display: flex; }
    .containerPortfolio-video--primero .videoCuadricula-uno {
      padding: 0;
      padding-left: 5rem;
      display: flex;
      flex-direction: column; }
  .containerPortfolio-video--tercero {
    display: flex;
    justify-content: space-around; }
    .containerPortfolio-video--tercero ul {
      padding: 0; }
    .containerPortfolio-video--tercero .videoCuadricula-dos {
      padding: 0; }
      .containerPortfolio-video--tercero .videoCuadricula-dos div {
        padding: 0;
        display: flex;
        flex-direction: column; }
  .containerCeramicas {
    display: flex;
    flex-direction: column; }
    .containerCeramicas div {
      margin-top: 3rem;
      display: flex;
      justify-content: space-around; }
  .containerWeb {
    margin: 5rem 0; }
  .ubicacion {
    padding: 0; } }

.blueRYB {
  color: #004EF5; }

.bitterLime {
  color: #C0F500; }

.redOrangeColorWheel {
  color: #F05219; }

.kaiseiTokumin {
  font-family: 'Kaisei Tokumin', serif; }

.spaceMono {
  font-family: 'Space Mono', monospace; }

.openSans {
  font-family: 'Open Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 12px;
  padding: 0;
  margin: 0; }

p {
  font-size: 1.1rem;
  font-weight: 300; }

ul {
  padding: 0; }

.marqueeIndex {
  font-size: 8rem; }

label {
  font-size: 0.9rem;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #F05219; }

i {
  color: #F05219;
  font-size: 1.5rem; }

i:hover {
  color: #C0F500; }

.carousel-control-next, .carousel-control-prev {
  opacity: 1; }

.bordesForm {
  border-color: #F05219;
  background-color: #C0F500;
  transition: none;
  font-family: 'Open Sans', sans-serif;
  color: #F05219; }

#botonModificadoEnviar, #botonModificadoBorrar {
  color: #F05219;
  background-color: #FFFFFF;
  border-color: #F05219;
  font-family: 'Open Sans', sans-serif; }

#botonModificadoEnviar:hover, #botonModificadoBorrar:hover {
  background-color: #C0F500; }

.botonModificadoMobile {
  border-color: transparent; }

.seleccionado {
  text-decoration: line-through; }

nav div a {
  font-size: 1rem; }

a:hover {
  color: #F05219;
  text-decoration: none; }

.iconoNavbar {
  color: #F05219; }

.navItemModificado {
  justify-content: space-between; }

.portfolioListaDeVideos {
  font-size: 1.7rem;
  list-style: none; }

footer ul li {
  font-size: 0.8rem;
  list-style: none; }

.derechos {
  font-size: 0.6rem;
  opacity: 0.6;
  margin: 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif; }

/*Ajustes generales en desktop*/
@media (min-width: 767.98px) {
  .ocultarDesktop {
    display: none; }
  .containerVideos-links {
    position: fixed;
    top: 12rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem; } }
